* {
    padding: 0;
    margin: 0;
    background: -moz-repeating-linear-gradient();
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.w-30 {
    width: 30%;
}

.w-80 {
    width: 80%;
}

.h-80 {
    height: 80%;
}

.navbar {
    position: fixed;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.192);
    z-index: 2;
}

.main-intro-text {
    position: absolute;
    top: 28%;
    bottom: 35%;
    font-size: 200%;
}

.main-intro-subtext {
    position: absolute;
    top: 37%;
    bottom: 35%;
    font-size: 150%;
}

.main-content-box {
    position: relative;
    z-index: 1;
}

.text-color {
    /* color: rgb(255, 255, 255); */
}